.Activated {
  margin-top: -20%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
  .aaaa {
    font-size: 50px;
  }
  .bbbb {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
  }
  .cccc {
    font-size: 16px;
  }
}
