.backdone-con {
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
  .paragrapgh1 {
    margin-top: 8px;
  }
  .paragrapgh2 {
    margin-top: -3px;
  }
}
.scrollBtn {
  border: "none";
  border-radius: 50%;
  border: none;
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  background-color: white;
}
